.container#pale-background
  %h1 Oh dear...
  %h2 We couldn't find the page you're looking for!
  %h3 Maybe you typed the URL wrong. Maybe you're not logged in. Maybe it's us, not you. We're very sorry. We hope we can still be friends, right? :(
