.container.static#pale-background
  .row
    .col-md-3
    .col-md-6
      %h3 Site Functionality
    .col-md-3
  .row
    .col-md-3
    .col-md-6
      %h3 User Accounts
    .col-md-3
  .row
    .col-md-12
      %p To register an account, please click the "Sign Up" button, and enter your Library Card Number, and email address, and a password.
      %p To log-in to the site, you can enter your Library Card Number, or the email you registered with.
  .row
    .col-md-3
    .col-md-6
      %h3 Renting Material
    .col-md-3 
    .row
      .col-md-12
        %p To browse our material, please click the "Browse Button". You can search and sort through titles, authors, genres, and other categories.
        %p Only one patron is permitted to rent a book at a time. Rentals currently last 24 hours.
        %p Logged in users can download and return books they are renting on the "shelf" page.
  .row
    .col-md-3
    .col-md-6
      %h3 Privacy Policy
    .col-md-3
  .row
    .col-md-3
    .col-md-6
      %p Bibliotecha collects your library-card number and email address from all patrons. This information is not sold, and manipulated in any way, other than to verify identity, and to send notices about library materials. Users may be allowed to use features that connect with social media such as Twitter, but this is a strictly opt-in service.
      %p Data on registered user's current and past media rentals are stored by use to maintain our services. Only rental data is stored, and no data is ever manipulated or sold.
      %p We promise we are not trying to take over the world. We have our sites set on the universe. We like to dream big.
    .col-md-3
